.hero{
  padding-top: 75px;
}
.hero__title{
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 32px;
}
.hero__text{
font-weight: 400;
font-size: 15px;
line-height: 150%;
color: #363738;
margin-bottom: 32px;
}
.hero__btn{
font-weight: 700;
font-size: 15px;
line-height: 150%;
color: #000;

}
.line{
  border: 3px solid #ffce50;
  width: 99px;
  height: 0px;
display: inline-block;
margin-top: 11px;
}
.hero__block__content{
    padding-bottom: 40px;
}
.hero_img_1{
  display:block
}
.hero_img_2{
  display: none;
}
.hero_img_3{
  display: none;
}
@media screen and (min-width:768px) {
  .hero_img_1{
    display: none;
  }
  .hero_img_2{
    display: inline-block;
  }
  .hero_img_3{
    display: none;
  }
  .hero__block{
    text-align: center;
  }
  .hero__title{
    margin-bottom: 49px;
  }
  .hero__text{
    margin-bottom: 44px;
  }
  .hero__block__content{
padding-bottom: 73px;
  }
}
@media screen and (min-width:1100px) {
  .hero_img_2{
    display: none;
  }
  .hero_img_1{
    display: none;
  }
  .hero_img_3{
    display: inline-block;
  }
  .hero__block{
    display: flex;
    align-items: center;
  }
  .hero__block__content{
    max-width: 300px;
    text-align: start;
  }
  .hero__title{
    margin-bottom: 40px;
  }
  .hero__text{
    margin-bottom: 40px;
  }


}